body {
      background-color: #000000;
      margin: 0;
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;
      background-image: url('');
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }

    .grid-container {
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: repeat(auto-fill, 140px);
      gap: 20px;
      width: 100%;
      max-width: 800px;
      justify-content: center;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .button {
      width: 140px;
      height: 90px;
      background: linear-gradient(to bottom, #252626, #252626);
      border-radius: 8px;
      border: 0.8px solid #212429;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0);
      transition: box-shadow 0.4s ease, transform 0.3s ease;
      user-select: none;
    }

    .button:active {
      transform: scale(1.06);
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 1.2);
    }

    .button:hover {
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
      transform: scale(1.06);
    }

    .logo-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }

    .button img {
      max-width: 100%;
      max-height: 100%;      
      object-fit: contain;
      /* "filter: drop-shadow(1px 1px 1px black); */
    }

    .label {
      height: 25px;
      background-color: #3e3f40;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 4px;
      font-size: clamp(10px, 2.5vw, 12px);
      font-weight: bold;
      line-height: 1.1;
      overflow: hidden;
      border-top: 1px solid #212429;
      text-transform: uppercase;
      user-select: none;
    }

/* Remove foco azul ao segurar botao*/
#foco {
  -webkit-tap-highlight-color: #212429;
}







/* style rodapé */
.rodape-links {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0 20px;
  margin-top: 40px; /* Espaço acima do rodapé */
  font-size: 12px;
  background-color: transparent;
}

.rodape-links button {
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #555;
  border-radius: 15px;
  color: #ccc;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.rodape-links button:focus {
  outline: none;
}

.rodape-links button:hover {
  border-color: #d9d9d9;
  color: #d9d9d9;
}






/* style rodapé */
.rodape-links {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0 20px;
  margin-top: 40px; /* Espaço acima do rodapé */
  font-size: 12px;
  background-color: transparent;
}

.rodape-links button {
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  color: #ccc;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.rodape-links button:focus {
  outline: none;
}

.rodape-links button:hover {
  border-color: #0a84ff;
  color: #0a84ff;
}

/* style card futebol topo *
/* Container do card no topo */

<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
/* Container do topo */
.top-banner {
  display: none;
  justify-content: center;
  padding: 20px;

}
/* Torna visível */
.top-banner.show {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

/* Link clicável */
.top-banner a {
  display: block;
  text-decoration: none;
  border-radius: 10px;
  border: 0.8px solid #d9d9d9;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-bottom: 20px; /* Espaçamento para afastar conteúdo abaixo */
  margin-top: 0px; 
    user-select: none;
}

/* Hover */
.top-banner a:hover {
  box-shadow: 0px 0px 10px rgba(0, 200, 255, 0.8);
  transform: scale(1.05);
}

/* Remove foco azul ao segurar botao*/
#gameCardLink {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* Contêiner da imagem */
.card-container {
  position: relative;
}

/* Imagem com corte vertical (19:9) */
.top-banner img {
  display: block;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 25 / 9;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

/* Texto do horário sobreposto */
.horario-overlay {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.0);
  color: #fff;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-style: italic;
  pointer-events: none;
}

#gameImage {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#gameImage.mostrar {
  opacity: 1;
}